<div class="m-content-wrapper">
        <div class="table-content-wrap">
		<div class="row">
			<form class="form-inline">
				<div class="form-group">
					<div class="toolbar pull-left">
						<button id="btn_add" type="button" class="btn btn-success" onclick="app.admin.permission.create()"> 新增</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
	 	<table class="table table-bordered table-nomal " id="permissionDataTable" data-striped="false">
			<thead>
				<tr>
<!-- 					<th data-formatter="app.admin.permission.number" data-width="5%">序号</th> -->
					<th data-width="22%" data-field="name" data-sortable="true">名称</th>
					<th data-width="8%" data-field="type" data-sortable="true" data-formatter="app.admin.permission.formatType">类型</th>
					<th data-width="20%" data-field="target" data-sortable="true">资源对象</th>
					<th data-width="13%" data-field="method" data-sortable="true">方法</th>
					<th data-width="10%" data-field="sort" data-sortable="true">排序号</th>
					<th data-width="24%" data-field="" data-align="center" data-formatter="app.admin.permission.formatOpt">操作</th>
				</tr>
			</thead>
		</table> 
        </div>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="permissionDlg" tabindex="-1" role="dialog" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">新增权限</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<input type="hidden"  name="id" />
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name" placeholder="请输入名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">类型</label>
						<div class="col-sm-10">
						<select class="form-control" name="type">
						    <option value="Menu">菜单</option>
						    <option value="Application">应用</option>
						    <option value="Business">业务</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">资源对象</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="target">
				    	</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">方法</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="method"/>
				    	</div>
					</div>
				   <div class="form-group">
						<label class="col-sm-2 control-label">上级权限</label>
						<div class="col-sm-10">
						   <input type="text" class="form-control" data-name="parent" id="permissionParentSelect" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序号</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="sort" placeholder="降序: 值越小越排在前面"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">描述</label>
						<div class="col-sm-10">
							<textarea rows="3" class="form-control" cols="40" name="description"></textarea>
				    	</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="app.admin.permission.save()">保存</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/assets/js/admin/permission/permission.js}"></script>
<script>
  app.admin.permission.init();
</script>

