/* *{padding:0;margin:0;}
 html,body{font-size:12px;font-family:"微软雅黑";outline:none;color:#666;background:#fff;} */
ul,ol{list-style:none;}
img{border:none;outline:none;}
/* a{color:#000000;text-decoration:none;outline:none;} */
a:hover{color:#e8431f;}

/*浮动客服*/
#floatDivBoxs{width:140px;position:fixed;top:180px;right:-3px;z-index:999;}
#floatDivBoxs .floatDtt{border-radius:0px;width:100%;height:19px;line-height:19px; background:#154292;text-align:center;color:#fff;font-size:12px;position:relative;
}
#floatDivBoxs .floatDqq{padding:0 14px;margin-top:0}
#floatDivBoxs .floatDqq li{height:25px;line-height:25px;font-size:12px;border-bottom:1px dotted #999999; padding:0 0 0 50px;}
#floatDivBoxs .floatDqq li:last-child{border-bottom: none;}
#floatDivBoxs .floatDtxt{font-size:14px;color:#212121;height: 32px;line-height: 40px;padding-left: 14px;border-bottom:1px dotted #999999; }
#floatDivBoxs .floatDtel{padding:0 0 15px 10px;}
#floatDivBoxs .floatDtel img{display:block;}
#floatDivBoxs .floatDbg{width:95%;height:4px;background:url(../img/chat/online_botbg.jpg) no-repeat;box-shadow:-2px 0 3px rgba(0,0,0,0.25);margin: 0 auto;}
.floatShadow{ background:#fff;box-shadow:-2px 0 3px rgba(0,0,0,0.25);width: 95%;margin: 0 auto;border-right: 1px solid #aaaaaa;}
#rightArrow{width:20px;height:20px;background:url(../img/chat/kefu.png) no-repeat;position:fixed;top:179px;right: 137px;z-index:999;}
#rightArrow a{display:block;height:45px;}

.floatShadow a{color:#000000;text-decoration:none;outline:none;}
#floatDivBoxs li img{
   width: 20px;
   height:20px;
}
.floatShadow  ul li:last-child{border-bottom: 0px;}
.floatShadow  ul{border-bottom:2px solid #5ca7e8;}
@media all and (max-width: 1400px ) {
   .middle-text p {
      width: 100%;
      margin-left: 2px;
      font-size: 14px;
      color: #3b94e1;
      margin-top: 16px;
      line-height: 30px;
   }
   .middle-text h2 {
      font-size: 33px;
      color: #3b94e1;
      height: 30px;
      /* line-height: 30px; */
      font-weight: bold;
   }
   .middle-top{
      margin: 0 auto;
      border: 0px solid #0b0b0b;
      background-image: url("../img/LOGO.png");
      width: 353px;
      height: 73px;
      background-size: 330px 73px;
      background-repeat: no-repeat;
      /*background-position: 17px 0;*/
   }
   .middle-login-wrap {
      position: absolute;
      height: 390px;
      right: 233px;
      width: 300px;
      top: 140px;
      margin: 0;
      padding: 0;
      background-color: rgba(255,255,255,0 );
   }
   .footer{position: fixed; left: 0; bottom: 0; width: 97%;height:40px;min-height: 40px; line-height: 40px; text-align: right;font-size:14px;color: #616161; }
   #teb-title {
      display: flex;
      line-height: 60px;
   }
   .teb{
      width:427px;
      height: 482px;
      background-image:url("../img/login/index.png" );
      background-size: 300px 320px;
      background-repeat: no-repeat;
      background-position: 17px 0;
   }
   .middle-teb{
      height: 20px;
      width: 340px;
   }
   .teb-content label.login-lable {
      width: 240px;
      height: 20px;
      line-height: 20px;
      display: block;
      position: relative;
      margin-top: 10px;
      margin: 5px auto;
      border: 0px solid #aaaaaa;
   }
   .middle-teb a{
      width: 100%;
      display: inline-block;
      font-size: 16px;
      color: #616161;
      text-align: center;
      margin: 0;
      padding: 0;
   }
   .teb-content{
      width: 340px;
   }
   .teb-content label {
      width: 240px;
      height: 30px;
      line-height: 30px;
      display: block;
      position: relative;
      margin-top: 10px;
      margin: 10px auto;
      border: 1px solid #aaaaaa;
   }
   .teb-content label input{width: 240px; height: 30px; padding:2px 0px 2px 55px; box-sizing: border-box; border:none; color: #b7b7b7; font-size: 14px;}
   .teb-content label input:focus{border:1px solid #7bb8ec;box-shadow:0 0 1px #7bb8ec;outline:none}
   .input-submit {
      width: 240px;
      height: 35px;
      line-height: 35px;
      border-radius: 3px;
      margin: 50px auto 10px;
      display: block;
      background-color: #3b94e1; color: #fff;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #aaa;
   }
   .medical-cont, .management-cont {
      margin-top: 18px;
      position: relative;
   }
   .teb-content .line{ font-style: normal; width: 1px; height: 30px; border-right: 1px solid #dddddd;position: absolute;; left: 30px;}

   .icon{ width: 24px; height: 25px;display:inline-block; position: absolute; left: 5px; top: 5px; font-style: normal; }
   .tel{
      font-weight: normal !important;
      font-size: 12px !important;
   }
   #floatDivBoxs {
      width: 138px;
      position: fixed;
      top: 90px;
      right: 0px;
      z-index: 999;
   }
   #rightArrow {
      width: 20px;
      height: 20px;
      background: url(../img/chat/kefu.png) no-repeat;
      position: fixed;
      top: 89px;
      right: 0px;
      z-index: 999;
      right:138px;
   }
   #floatDivBoxs .floatDqq li {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      border-bottom: 1px dotted #999999;
      padding: 0 0 0 50px;
   }
   #floatDivBoxs li img {
      width: 16px;
      height: 15px;
   }
   .login-error {
      margin-top: -132px;
      color: red;
      text-align: center;
      font-size: 12px;
   }
   #floatDivBoxs .floatDtxt {
      font-size: 12px;
      color: #212121;
      height: 32px;
      line-height: 40px;
      padding-left: 14px;
      border-bottom: 1px dotted #999999;
   }
   #floatDivBoxs .floatDtel {
      padding: 0 0 5px 12px;
   }
}
