<!-- 统一666门户绑定页面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title th:inline="text">登录 - 综合支付平台</title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/zzsc.css}" />

    <script src="/assets/lib/html5shiv/r29/html5.min.js"></script>
    <script src="/assets/lib/respond.js/1.4.2/respond.min.js"></script>

</head>
<body onload="WaitDo()" class="Loginbody">

<div class="floatDbg"></div>

<div class="middle">
    <div class="middle-wrap w-1200">
        <div class="middle-text">
            <h2>综合支付平台</h2>
            <p>CLEAR Product operation monitoring platform management software</p>

            <div style="margin-top: 100px">
                <h1>用户名<span th:text="${userName}"></span>不存在，或者已经禁用！</h1>
            </div>

            <div style="margin-top: 20px">
                <h3 id="putOutMsg" class="OpenFont"></h3>
            </div>
        </div>

        <div class="middle-login-wrap">
            <div class="middle-left" >

            </div>

        </div>
    </div>
</div>

<div class="footer">深圳市巨鼎医疗设备有限公司 Copyright © 2015-2017
    <a style="display: inline-block;text-align:center; margin: 0px;padding: 0px; " href="http://sw.bos.baidu.com/sw-search-sp/software/611fd6cbd2fb1/ChromeStandalone_59.0.3071.86_Setup.exe">推荐使用chrome谷歌浏览器,点击下载</a>
</div>
<script th:src="@{/assets/lib/jquery/1.11.1/jquery.min.js}"></script>
<script>
    var WaitTime = 10; //等待的时间，单位秒
    function WaitDo(){
        if(WaitTime > 0){
            putOutMsg.innerHTML = "本页面将在"+ WaitTime +"秒钟后自动关闭";
            WaitTime --;
            setTimeout("WaitDo()",1000);
        }
        else
        {
            window.location.href="about:blank";
            window.close();
        }
    }
</script>

</body>
</html>